<nav class="menu">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="nav-link" routerLink="/VerMenu" routerLinkActive="activo">Ver Menú</a></li>
        <li><a class="nav-link" routerLink="/formulario_IR" routerLinkActive="activo">Impuesto a la Renta</a></li>
        <li><a class="nav-link" routerLink="/Pedidos" routerLinkActive="activo">Pedidos</a></li>
        <li><a class="nav-link" routerLink="/reporte" routerLinkActive="activo">Reporte</a></li>
      </ul>
    </div>
</nav>