<div class="section container">
    <div class="row">
        <form action="" method="get" class="col s12">
            <div class="row card-panel">
                <div class="input-field col s6">
                    <input type="text" id="nombre" class="validate" required>
                    <label for="nombre">Nombre:</label>
                </div>

                <div class="input-field col s6">
                    <input type="text" id="apellido" class="validate" required>
                    <label for="apellido">Apellido:</label>
                </div>

                <div class="input-field col s12">
                    <label for="cometario">Comentario:</label>
                    <textarea  placeholder="Ingrese su comentario respecto a la calificacion" id="comentario"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>